/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 /* Task List styles */

 body {
    background-color: black;
 }

 h1 {
    color: white;
    text-align: center;
 }

 .task-list .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 5px;
    border-radius: 5px;
  }

  .input-group .form-control {
    background-color: black;
    border: 2px solid aquamarine;
    color: white;
  }

  .input-group .form-control:focus {
    background-color: black;
    border-color: aquamarine;
  }

  .list-group-item {
    background-color: black;
    color: white;
    border: 2px solid aquamarine;
  }

  .btn-primary {
    background-color: black;
    border: 2px solid aquamarine;
    color: white;
  }

  .btn-primary:hover {
    background-color: aquamarine;
    border-color: aquamarine;
    color: black;
  }

  .btn-success {
    background-color: black;
    border: 2px solid rgb(96, 235, 96);
    color: white;
  }

  .btn-success:hover {
    background-color: rgb(96, 235, 96);
    color: black;
  }

  .btn-danger {
    background-color: black;
    border: 2px solid red;
    color: white;
  }

  .btn-danger:hover {
    background-color: rgb(244, 63, 63);
    color: black;
  }
  
  ::placeholder {
    color: grey !important;
  }

  .container {
    width: 45%;
  }

  .user-status-alert {
    background-color: black;
    border: 2px solid aquamarine;
    text-align: center;
    color: white;
    width: 70%;
    font-size: x-large;
    margin: 0 auto;
    margin-top: 2rem;
    margin-right: 20px;
  }

  /* NavBar styles */

  .navbar {
    background-color: black !important;
  }

  .navbar-brand {
    width: 100px;
  }

  .navbar-toggler {
    color: white;
  }

  .navbar-toggler-icon {
    color: white;
  }

  .nav-item a {
    color: white;
  }

  .nav-item a:hover {
    color: aquamarine;
  }

  .nav-item button {
    color: white;
  }

  .nav-item button:hover {
    color: aquamarine;
  }

  #navbarNav {
    color: white;
  }

  .notice {
    color: rgb(52, 236, 144);
  }

  .general-alert {
    color: red;
  }

  /* Forms Styles */

  .text-center {
    color: white !important;
  }

  .field label {
    color: grey;
  }

  .field .form-control {
    background-color: black;
    border: 2px solid aquamarine;
    color: white;
  }

  a {
    color: white;
  }

  a:hover {
    color: aquamarine;
    text-decoration: underline;
  }

  .text-center, i, em {
    color: grey;
  }

  /* Landing Page Styles */

  .landing-header {
    margin-right: 11rem;
  }

  .title-header {
    color: aquamarine;
    margin-left: 10px;
  }

  .description {
    color: white;
    margin-left: 10px;
  }

  .landing {
    border: 2px solid aquamarine;
    width: 150%;
    padding: 2rem;
    margin-right: 10rem;
  }

  .img-fluid {
    margin-left: 8rem;
    margin-top: 5rem;
    width: 100%;
  }

  .move-left {
    margin-left: -140px;
  }
